/*font imports */
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap');

/* CSS Variables */
:root {
    --primary-font: "TikTok Sans", sans-serif;
    --secondary-font: "Londrina Solid", sans-serif;
    --primary-color: #2C1F0Bff; /* dark coffee */
    --secondary-color: rgb(247, 246, 232); /* beige */
    --highlight-color: #9AA967ff; /* palm leaf */
    --highlight-color-light: #273c1a; /* dark green */
}

/* Global styles */
body {
    font-family: var(--primary-font);
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

h1,
h2,
h3 {
    font-family: var(--secondary-font);
    color: var(--primary-color);
}
/*navbar */

.navbar {
    font-family: var(--primary-font);
    background-color: var(--primary-color);
}

.navbar * {
    color: var(--secondary-color);
}

#navbar-logo {
  max-height: 70px;
}

/* header */
#header {
    height: 500px;
    background-color: var(--highlight-color);
    /* Linear Gradient creates overlay */
    background-image: linear-gradient(rgba(255,255,255,0.6), rgba(255,255,255,0.6)), url("../images/hero.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    width: 100vw;
    position: relative;
}

#header p {
    font-size: 1rem;
    font-weight: 600;
}

/* quick guide */

.card-img-top {
    height: 220px;
    object-fit: cover;
}
.card-body {
    height: auto;
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
    /* Make all service cards the same height for consistency */
   .card-body {
        min-height: 191px;
    }
}

/* Large devices (small laptops, 992px and up) */
@media screen and (min-width: 992px) {
    /* Make all service cards the same height for consistency */
    #services .card-body {
        min-height: 220px;
    }
}

/* xl devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
    /* make all service cards the same height for consistency */
    #services .card-body {
        min-height: 220px;
    }

    /* make video larger */
    #trust-video-edi {
        width: 550px;
    }
}

/* xxl devices (larger desktops, 1400px and up) */
@media screen and (min-width: 1400px) {
    /* make all service cards the same height for consistency */
    #services .card-body {
        min-height: 195px;
    }
}