/*font imports */
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap');

/* CSS Variables */
:root {
    --primary-font: "TikTok Sans", sans-serif;
    --secondary-font: "Londrina Solid", sans-serif;
    --primary-color: #2C1F0Bff; /* dark coffee */
    --secondary-color: #F7F6DBff; /* beige */
    --highlight-color: #9AA967ff; /* palm leaf */
    --highlight-color-light: #273c1a; /* dark green */
}

/* Global styles */
body {
    font-family: var(--primary-font);
    color: var(--primary-color)
}

h1,
h2,
h3 {
    font-family: var(--secondary-font);
    color: var(--primary-color);
}
/*navbar */

.navbar {
    font-family: var(--primary-font);
    background-color: var(--primary-color);
}

.navbar * {
    color: var(--secondary-color);
}

#navbar-logo {
  max-height: 70px;
}

/* header */
#header {
    height: 500px;
    background-color: var(--highlight-color);
    /* Linear Gradient creates overlay */
    background-image: linear-gradient(rgba(255,255,255,0.6), rgba(255,255,255,0.6)), url("../images/hero.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    width: 100vw;
    position: relative;
}

#header p {
    font-size: 1rem;
    font-weight: 600;
}